<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heitian.ssm.dao.TumblrDomainDao">
    <resultMap id="TumblrDomainBaseMap" type="com.heitian.ssm.model.TumblrDomain">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="tag" property="tag" jdbcType="VARCHAR"/>
        <result column="level" property="level" jdbcType="BIGINT"/>
    </resultMap>
    <!--查询所有-->
    <select id="selectAllTumblrDomain" resultMap="TumblrDomainBaseMap">
        select * from tumblr
    </select>
    <!--插入-->
    <insert id="addTumblrDomain" parameterType="com.heitian.ssm.model.TumblrDomain" useGeneratedKeys="true" keyProperty="id">
        INSERT into tumblr(name,tag,level) VALUES (#{name},#{tag},#{level})
    </insert>
    <!--根据id查询，返回单个元素-->
    <select id="selectTumblrDomainById" parameterType="int" resultMap="TumblrDomainBaseMap">
        SELECT * FROM tumblr
        WHERE id = #{id}
    </select>
    <!--根据域名查询，返回多个-->
    <select id="selectTumblrDomainByName" parameterType="String" resultMap="TumblrDomainBaseMap">
        SELECT * FROM tumblr
        WHERE name = #{name}
    </select>
    <!--根据TAG查询，返回多个-->
    <select id="selectTumblrDomainByTag" parameterType="String" resultMap="TumblrDomainBaseMap">
        SELECT * FROM tumblr
        WHERE tag = #{tag}
    </select>
    <!--根据level查询，返回多个-->
    <select id="selectTumblrDomainByLevel" parameterType="int" resultMap="TumblrDomainBaseMap">
        SELECT * FROM tumblr
        WHERE level >= #{level}
    </select>
    <update id="updateTumblrDomain" parameterType="com.heitian.ssm.model.TumblrDomain">
        update tumblr set name=#{name},tag=#{tag},level=#{level} where id=#{id}
    </update>
</mapper>