<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heitian.ssm.dao.TumblrDao">

    <resultMap id="TumblrBaseMap" type="com.heitian.ssm.model.TumblrModel">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="tags" property="tags" jdbcType="VARCHAR"/>
        <result column="level" property="level" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectTumblrById" parameterType="int" resultMap="TumblrBaseMap">
        SELECT * FROM t_user
        WHERE id = #{userId}
    </select>

    <select id="selectTumblrByPhoneOrEmail" resultMap="TumblrBaseMap">
        SELECT * FROM t_user
        WHERE user_email = #{emailOrPhone} OR user_phone = #{emailOrPhone}
        AND user_state = #{state}
    </select>

    <select id="selectAllTumblr" resultMap="TumblrBaseMap">
        SELECT * FROM t_tumblr
    </select>
    <!--插入数据库-->
    <insert id="addTumblr" parameterType="com.heitian.ssm.model.TumblrModel" useGeneratedKeys="true" keyProperty="id">
        INSERT into t_tumblr(name,tags,level) VALUES (#{name},#{tags},#{level})
    </insert>
    <delete id="deleteTumblr" parameterType="int">
        delete from t_tumblr where id=#{id}
    </delete>
</mapper>