<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heitian.ssm.dao.TumblrDomainDao">
    <resultMap id="TumblrDomainBaseMap" type="com.heitian.ssm.model.TumblrDomain">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="tag" property="tag" jdbcType="VARCHAR"/>
        <result column="level" property="level" jdbcType="BIGINT"/>
    </resultMap>
    <select id="selectAllTumblrDomain" resultMap="TumblrDomainBaseMap">
        select * from tumblr
    </select>
</mapper>